$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

@media (max-width: 991px) {
  .collapse.show {
    display: none;
  }
}

.fixed-top {
  z-index: 10;
}

#navbarSupportedContent {
  justify-content: flex-end;
  text-align: end;

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    min-width: 0;
    border: none;
    left: 10px;
    background-color: rgb(223, 255, 106) !important;

    .dropdown-item {
      &:hover {
        background-color: rgb(223, 255, 106) !important;
      }
    }
  }

  .nav-item {
    padding: 0px 30px;

  }
}
.navbar {
  background-color: rgb(223, 255, 106) !important;

  .collapse.show {
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .navbar-brand {
    margin: 0;
    font-size: 1.8rem;
    @media only screen and (max-width: $tablet) {
      visibility: hidden;
    }
  }
}

.nav-link {
  letter-spacing: 0;

  &:hover,
  &:active {
    // letter-spacing: 5px;
    color: black !important;
  }
  &:after,
  &:before {
    backface-visibility: hidden;
    border: 1px solid rgba(rgb(0, 0, 0), 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  &:hover:after,
  &:hover:before {
    backface-visibility: hidden;
    border-color: rgb(0, 0, 0);
    transition: width 350ms ease-in-out;
    width: 70%;
  }

  &:hover:before {
    bottom: auto;
    top: 10;
    width: 70%;
  }
}
