<div class="container-fluid mt-5">
  <div class="liste pt-5">
    <div class="titre">
      <h1>Liste des Reptiles</h1>
    </div>
    <div class="p-3">
      <p class="listeReptiles" *ngFor="let reptile of reptiles ">
        <a routerLink="/detailEspece/{{reptile.id}}" routerLinkActive="active" class="btn btn-link">- <strong>{{reptile.NomFrancais}}</strong> -
          <i>{{reptile.NomLatin}}</i></a>
      </p>
    </div>
  </div>
</div>


<!-- Partie photo -->
<div class="container page-top">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let reptile of reptiles">
      <a data-fancybox="gallery" class="fancybox" href="http://127.0.0.1:8000/uploads/images/espece/{{reptile.Photo}}">
        <img src="http://127.0.0.1:8000/uploads/images/espece/{{reptile.Photo}}" class="zoom img-fluid"  alt="{{reptile.NomFrancais}}">
      </a>
    </div>
  </div>
</div>


<script type="text/javascript" src="../assets/js/script.js"></script>
