<div class="titre">
  <h1>Liste des Reptiles</h1>
</div>

<div class="liste">
  <div class="ophidiens">
    <h5>Serpents / Ophidiens</h5>
    <p class="listeReptiles" *ngFor="let ophidien of ophidiens">
      <a routerLink="/detailEspece/{{ophidien.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ ophidien.NomFrancais }}</strong> -
        <i>{{ ophidien.NomLatin }}</i>
      </a>
    </p>
  </div>
  <div class="sauriens">
    <h5>Lézards / Sauriens</h5>
    <p class="listeReptiles" *ngFor="let saurien of sauriens">
      <a routerLink="/detailEspece/{{saurien.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ saurien.NomFrancais }}</strong> -
        <i>{{ saurien.NomLatin }}</i>
      </a>
    </p>
  </div>
</div>

