<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="mb-3">Les articles</h1>
      <h4>
        Ici vous trouverez toutes sortes d'articles sur la faune, la flore, la
        technique, l'écologie, ainsi que mon point de vue sur certaines
        actualités.
      </h4>
      <br />
      <div class="button_cont row filters" align="center">
        <a
          class="bouton m-2 col-6 col-sm-4 col-md-2"
          href="#"
          rel="nofollow noopener"
          >Faune</a
        >
        <a
          class="bouton m-2 col-6 col-sm-4 col-md-2"
          href="#"
          rel="nofollow noopener"
          >Flore</a
        >
        <a
          class="bouton m-2 col-6 col-sm-4 col-md-2"
          href="#"
          rel="nofollow noopener"
          >Technique</a
        >
        <a
          class="bouton m-2 col-6 col-sm-4 col-md-2"
          href="#"
          rel="nofollow noopener"
          >Actualités</a
        >
      </div>
    </div>
  </div>
  <div class="row my-4 ">
    <div class="mb-2 col-sm-12 col-md-6 col-lg-4 listArticles">
      <div class="card" style="width: 22rem;">
        <img
          class="card-img-top"
          src="../../assets/images/vipere.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">l'éthique en photographie animalière</h5>
          <p class="card-text">
            Ici découvrez mon point de vue sur l'éthique dans le milieu de la
            photographie animalière, si vous êtes dans ce domaine depuis
            longtemps vous pourrez peut-être vous remettre en question, sinon
            vous apprendrez comment vous comporter au mieux ...
          </p>
          <div class="button_cont" align="center">
            <a class="bouton" href="#" rel="nofollow noopener"
              >Lire l'article</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2 col-sm-12 col-md-6 col-lg-4 listArticles">
      <div class="card" style="width: 22rem;">
        <img
          class="card-img-top"
          src="../../assets/images/interrogation.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <!-- <div class="button_cont" align="center"><a class="bouton" href="#" rel="nofollow noopener">Lire l'article</a></div> -->
        </div>
      </div>
    </div>

    <div class="mb-2 col-sm-12 col-md-6 col-lg-4 listArticles">
      <div class="card" style="width: 22rem;">
        <img
          class="card-img-top"
          src="../../assets/images/interrogation.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <!-- <div class="button_cont" align="center"><a class="bouton" href="#" rel="nofollow noopener">Lire l'article</a></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
