@media (max-width:550px) {
  .topPage {
    margin-top: 25% !important;
  }
}

.topPage {
  margin-top: 100px;

  h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
  }
}


.filtres {
  display: flex;
  background-color: #ffffffd9;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 90%;

  .search {
    align-self: center;
    padding: 20px;

    h6 {
      border-bottom: 1px solid black;
    }
  }
}

.articlesContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .articleBox {
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 8px 2px #fff;
    border-radius: 2px;
    width: 250px;
    cursor: pointer;
    transform: scale(1);
    transition: .3s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.025);
      transform: scale(1.025);
    }

    .image {
      position: relative;
      width: 250px;
      height: 250px;
      overflow: hidden;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .titreArt {
      text-align: center;
      flex-wrap: wrap;
      padding: 10px 0px;
      background-color: #f1ffb0d4;
      border-bottom: 1px dashed black;
      h4 {
        margin-bottom: 0 !important;
        color: black;
        text-transform: uppercase;
        font-size: inherit;
        font-weight: bold;
      }
    }

    .presentation {
      text-align: center;
      padding: 10px;
      flex-wrap: wrap;

      p {
        color: white;
        font-weight: 500;
        font-size: larger;
        font-size: initial;
      }
    }
  }
}

