<app-menu></app-menu>
<div class="backBtn">
  <span class="line tLine"></span>
  <span class="line mLine"></span>
  <span class="label" onclick="goBack()">Retour</span>
  <span class="line bLine"></span>
</div>
<div class="topPage">
  <h1>Articles</h1>
  <h4>
    Ici vous trouverez toutes sortes d'articles sur la faune, la flore, la
    technique, l'écologie, ainsi que mon point de vue sur certaines
    actualités.
  </h4>
</div>

<div class="filtres">
  <div class="search">
    <label for="searchValue">
      <h6>Vous cherchez un article qui traite d'un sujet en particulier ?</h6>
    </label>
    <input id="searchbar" class="form-control" type="text" name="searchValue" autocomplete="off"
      placeholder="Chercher ici ...">
  </div>
  <!-- <button (click)="search()"> Enregistrer </button> -->
</div>



<div class="articlesContainer" *ngFor="let article of articles ; let i=index;">
  <div class="articleBox">
    <div class="image">
      <a [routerLink]="['/articles/5']">
        <img src="http://127.0.0.1:8000/uploads/images/galerie/{{
      article.image1
    }}" />
      </a>
    </div>
    <div class="titreArt">
      <h4>{{article.titre}}</h4>
    </div>
    <div class="presentation">
      <p>Dans cet article, je vais vous expliquer ce qui pour moi différencie un "photographe naturaliste" d'un
        "photographe animalier" ...
      </p>
      <p>
        Une simple histoire d'éthique !</p>
    </div>
    <div class="btn-container">
      <button class="btn" routerLink="/articles/5">Lire</button>
    </div>
  </div>
</div>
