<app-menu></app-menu>
<div class="backBtn">
  <span class="line tLine"></span>
  <span class="line mLine"></span>
  <span class="label" onclick="goBack()">Retour</span>
  <span class="line bLine"></span>
</div>
<div class="titre">
  <h1>Liste des Oiseaux</h1>
</div>

<div class="liste">
  <div *ngIf="passereaux.length !== 0" class="passereaux">
    <h5>Passereaux</h5>
    <p class="listePassereaux" *ngFor="let passereau of passereaux">
      <a routerLink="/detailEspece/{{passereau.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ passereau.nomFrancais }}</strong> -
        <i>{{ passereau.nomLatin }}</i>
      </a>
    </p>
  </div>
  <div *ngIf="rapaces.length !== 0" class="rapaces">
    <h5>Rapaces</h5>
    <p class="listeRapaces" *ngFor="let rapace of rapaces">
      <a routerLink="/detailEspece/{{rapace.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ rapace.nomFrancais }}</strong> -
        <i>{{ rapace.nomLatin }}</i>
      </a>
    </p>
  </div>
  <div *ngIf="oiseauxMarins.length !== 0" class="oiseauxMarins">
    <h5>Oiseaux d'eau</h5>
    <p class="listeOiseauxMarins" *ngFor="let oiseauMarin of oiseauxMarins">
      <a routerLink="/detailEspece/{{oiseauMarin.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ oiseauMarin.nomFrancais }}</strong> -
        <i>{{ oiseauMarin.nomLatin }}</i>
      </a>
    </p>
  </div>
  <div *ngIf="palmipedes.length !== 0" class="palmipedes">
    <h5>Palmipèdes</h5>
    <p class="listePalmipedes" *ngFor="let palmipede of palmipedes">
      <a routerLink="/detailEspece/{{palmipede.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ palmipede.nomFrancais }}</strong> -
        <i>{{ palmipede.nomLatin }}</i>
      </a>
    </p>
  </div>
  <div *ngIf="echassiers.length !== 0" class="echassiers">
    <h5>Échassiers</h5>
    <p class="listeGrandEchassiers" *ngFor="let echassier of echassiers">
      <a routerLink="/detailEspece/{{echassier.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ echassier.nomFrancais }}</strong> -
        <i>{{ echassier.nomLatin }}</i>
      </a>
    </p>
  </div>
  <div *ngIf="piciformes.length !== 0" class="piciformes">
    <h5>Piciformes/Grimpeurs</h5>
    <p class="listePetitEchassiers" *ngFor="let piciforme of piciformes">
      <a routerLink="/detailEspece/{{piciforme.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ piciforme.nomFrancais }}</strong> -
        <i>{{ piciforme.nomLatin }}</i>
      </a>
    </p>
  </div>
  <div *ngIf="galliformes.length !== 0" class="galliformes">
    <h5>Galliformes</h5>
    <p class="listeGalliformes" *ngFor="let galliforme of galliformes">
      <a routerLink="/detailEspece/{{galliforme.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ galliforme.nomFrancais }}</strong> -
        <i>{{ galliforme.nomLatin }}</i>
      </a>
    </p>
  </div>
  <div *ngIf="autresOiseaux.length !== 0" class="autresOiseaux">
    <h5>Autres Oiseaux</h5>
    <p class="listeAutresOiseaux" *ngFor="let autreOiseau of autresOiseaux">
      <a routerLink="/detailEspece/{{autreOiseau.id}}" routerLinkActive="active" class="btn btn-link">-
        <strong>{{ autreOiseau.nomFrancais }}</strong> -
        <i>{{ autreOiseau.nomLatin }}</i>
      </a>
    </p>
  </div>
</div>
