.filtres {
  display: flex;
  background-color: rgb(230, 230, 230);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;

  .categ,
  .pays {
    padding: 10px 20px;
    display: flex;



    p,
    .searchField {
      padding-right: 20px;
      align-self: center;
    }

    .categCheckBox,
    .paysCheckBox {
      display: flex;
      flex-direction: column;
      align-self: center;

      .choices {
        padding-right: 10px;
      }
    }
  }

  .search {
    display: flex;
    padding-top: 10px;
    padding-right: 20px;

    .searchField {
      padding-right: 20px;
      align-self: center;
    }
  }
}

.topPage {
  margin-top: 8%;

  h1 {
    text-align: center;
    font-size: 50px;
  }

  .titre {
    margin-bottom: 50px;
  }
}


.gallery {
  margin-top: 20px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  justify-content: space-around;

  .square {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-top: 20px;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    cursor: pointer;
  }

}

.modalImage {
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.938);
  left: 0;
  top: 0;
  position: fixed;
  /* Stay in place */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  display: flex;

  .close {
    position: absolute;
    right: 1%;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
  }

  .img {
    position: relative;
    background-color: #ffffffa9;
    margin: 5% auto 0 auto;
    height: 75%;
    width: auto;
  }

  .previous {
    position: absolute;
    left: 5%;
    color: rgb(114, 114, 114);
    font-size: 60px;
    top: 40%;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .next {
    position: absolute;
    right: 5%;
    color: rgb(114, 114, 114);
    font-size: 60px;
    top: 40%;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .presentation {
    width: 100%;
    position: absolute;
    top: 85%;

    .linkName {
      display: block;
      color: grey;
      font-weight: bold;
      text-align: center;
      width: 63%;
      padding: 10px 20px;
      margin-left: auto;
      margin-right: auto;
      font-size: larger;

      &:hover {

        color: white !important;
      }
    }
  }
}
