<app-menu></app-menu>
<div class="container">
  <div class="topPage">
    <h1 class="titre">Galerie photo</h1>
    <h4>
      Ici vous trouverez toutes mes photos.
      <br>
      Je vous conseille d'utiliser les filtres pour trouver plus facilement ce que vous cherchez.
    </h4>
  </div>
  <div class="backBtn">
    <span class="line tLine"></span>
    <span class="line mLine"></span>
    <span class="label" onclick="goBack()">Retour</span>
    <span class="line bLine"></span>
  </div>
</div>

<div class="filtres">
  <div class="categ">
    <h6>Catégories : </h6>
    <section class="categCheckBox">
      <mat-checkbox class="choices" onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(4)" [(ngModel)]="amphiChecked">Amphibiens</mat-checkbox>
      <!-- <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(5)" [(ngModel)]="floreChecked">Flore</mat-checkbox> -->
      <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(6)" [(ngModel)]="inverteChecked">Invertébrés
      </mat-checkbox>
      <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(1)" [(ngModel)]="mammiChecked">Mammifères</mat-checkbox>
    </section>
    <section class="categCheckBox">
      <!-- <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(3)" [(ngModel)]="oiseauChecked">Oiseaux</mat-checkbox> -->
      <!-- <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(7)" [(ngModel)]="paysaChecked">Paysages</mat-checkbox> -->
      <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(2)" [(ngModel)]="reptiChecked">Reptiles</mat-checkbox>
    </section>
  </div>
  <div class="pays">
    <h6>Pays : </h6>
    <section class="paysCheckBox">
      <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(null,1)" [(ngModel)]="franceChecked">France</mat-checkbox>
      <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(null,2)" [(ngModel)]="marocChecked">Maroc</mat-checkbox>
      <!-- <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(null,3)" [(ngModel)]="costaChecked">Costa-Rica 
      </mat-checkbox>-->
      <!-- <mat-checkbox class="choices"  onclick="document.getElementById('searchbar').value =''" (change)="getCheckedValue(null,4)" [(ngModel)]="madaChecked">Madagascar
      </mat-checkbox> -->
    </section>
  </div>
  <div class="search">
    <label for="searchValue">
      <h6>Vous cherchez une espèce ou un genre en particulier ?</h6>
    </label>
    <input id="searchbar" class="form-control" type="text" (keyup)="onSearch($event)" name="searchValue"
      autocomplete="off" placeholder="Cervus elaphus, Couleuvre ...">
  </div>
</div>

<div class="gallery">
  <ng-container *ngIf="filteredPhotos.length > 0 && !erreurMessage">
    <ng-container *ngFor="let photo of filteredPhotos ; let i=index;">
      <div class="square">
        <img id="photo" alt="" (click)="openModal(i)" src="{{urlBack}}/uploads/images/galerie/{{
            photo.photo
          }}" />
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="filteredPhotos.length === 0 && !erreurMessage">
    <ng-container *ngFor="let photo of photos ; let i=index;">
      <div class="square">
        <img id="photo" alt="" (click)="openModal(i)" src="{{urlBack}}/uploads/images/galerie/{{
            photo.photo
          }}" />
      </div>
    </ng-container>
  </ng-container>
  <div class="errorMessage" *ngIf="erreurMessage" [innerHTML]="erreurMessage"></div>
</div>

<ng-container *ngIf="filteredPhotos.length > 0">
  <div class="modalImage" *ngIf="isModalOpen">
    <div class="close">
      <button type="button" class="close" (click)="closeModal()">&times;</button>
    </div>
    <img class="img" alt="" src="{{urlBack}}/uploads/images/galerie/{{
      modal.photo
    }}" />
    <div class="previous" *ngIf="currentIndex > 0" (click)="precedent()"><i class="fas fa-chevron-left"></i></div>
    <div class="next" *ngIf="currentIndex <= filteredPhotos.length-2" (click)="suivant()"><i
        class="fas fa-chevron-right"></i>
    </div>
    <div class="presentation">
      <p class="linkName"> {{ modal.nom }} - {{ modal.nomLatin }}</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="filteredPhotos.length === 0">
  <div class="modalImage" *ngIf="isModalOpen">
    <div class="close">
      <button type="button" class="close" (click)="closeModal()">&times;</button>
    </div>
    <img class="img" alt="" src="{{urlBack}}/uploads/images/galerie/{{
      modal.photo
    }}" />
    <div class="previous" *ngIf="currentIndex > 0" (click)="precedent()"><i class="fas fa-chevron-left"></i></div>
    <div class="next" *ngIf="currentIndex <= photos.length-2" (click)="suivant()"><i class="fas fa-chevron-right"></i>
    </div>
    <div class="presentation">
      <p class="linkName"> {{ modal.nom }} - {{ modal.nomLatin}}</p>
    </div>
  </div>
</ng-container>
