@media (min-width: 10px) and (max-width:375px) {
  .modalImage .img {
    height: 16% !important;
  }
}

// @media (min-width: 321px) and (max-width:375px) {
//   .modalImage .img {
//     height: 26%!important;
//   }
// }

@media (min-width: 376px) and (max-width:425px) {
  .modalImage .img {
    height: 19% !important;
  }
}


@media (min-width: 426px) and (max-width:598px) {
  .modalImage .img {
    height: 22% !important;
  }
}

@media (min-width: 599px) and (max-width:770px) {
  .modalImage .img {
    height: 32% !important;
  }
}

@media (max-width:550px) {
  .topPage {
    margin-top: 25% !important;
  }
}

@media (min-width: 771px) and (max-width:1030px) {
  .modalImage .img {
    height: 42% !important;
  }
}

@media (min-width: 1031px) and (max-width:1200px) {
  .modalImage .img {
    height: 56% !important;
  }
}

.filtres {
  display: flex;
  background-color: #ffffffd9;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 90%;


  .categ,
  .pays {
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 280px;
    justify-content: center;

    h6,
    .searchField {
      margin-right: 30px;
      align-self: center;
    }

    .categCheckBox,
    .paysCheckBox {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-right: 20px;


      .choices {
        padding-right: 10px;
      }
    }
  }

  h6 {
    border-bottom: 1px solid black;
  }

  .search {
    align-self: center;
    padding: 20px;

    .searchField {
      padding-right: 20px;
      align-self: center;
    }
  }
}

.topPage {
  margin-top: 100px;

  h1 {
    text-align: center;
    font-size: 50px;
  }

  .titre {
    margin-bottom: 50px;
  }
}

.loader {
  width: 90%;
  margin-top: 60px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #00000080;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .square {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 8px 2px white;
    border-radius: 2px;

    &:hover {
      box-shadow: 0px 0px 8px 2px rgb(241, 255, 176);
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}


.errorMessage {
  color: red;
}

.modalImage {
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.938);
  left: 0;
  top: 0;
  position: fixed;
  /* Stay in place */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  display: flex;

  .close {
    position: absolute;
    right: 1%;
    font-size: 3rem;
    font-weight: bolder;
    color: #f1ffb0;
    opacity: 1 !important;

    &:hover {
      color: rgb(252, 173, 56);
    }
  }

  .img {
    position: relative;
    background-color: #ffffffa9;
    margin: 3% auto 0 auto;
    height: 80%;
    width: auto;
  }

  .previous {
    position: absolute;
    left: 5%;
    color: white;
    font-size: 60px;
    top: 40%;
    cursor: pointer;

    &:hover {
      color: rgb(252, 173, 56);
    }
  }

  .next {
    position: absolute;
    right: 5%;
    color: white;
    font-size: 60px;
    top: 40%;
    cursor: pointer;

    &:hover {
      color: rgb(252, 173, 56);
    }
  }

  .presentation {
    width: 100%;
    position: absolute;
    top: 85%;

    .linkName {
      display: block;
      color: white;
      font-weight: bold;
      text-align: center;
      width: 63%;
      padding: 10px 20px;
      margin-left: auto;
      margin-right: auto;
      font-size: larger;

      &:hover {
        color: #f1ffb0 !important;
      }
    }
  }
}
