.filtres {
  display: flex;
  background-color: rgb(230, 230, 230);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;


  .categ,
  .pays {
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 280px;
    justify-content: center;

    p,
    .searchField {
      padding-right: 20px;
      align-self: center;
    }

    .categCheckBox,
    .paysCheckBox {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-right: 20px;


      .choices {
        padding-right: 10px;
      }
    }
  }

  .search {
    align-self: center;
    padding-right: 20px;

    .searchField {
      padding-right: 20px;
      align-self: center;
    }
  }
}

.topPage {
  margin-top: 8%;

  h1 {
    text-align: center;
    font-size: 50px;
  }

  .titre {
    margin-bottom: 50px;
  }
}


.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #00000080;

  .square {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 8px 2px white;
  }

  img {
    position: absolute;
    width : 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

}

.modalImage {
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.938);
  left: 0;
  top: 0;
  position: fixed;
  /* Stay in place */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  display: flex;

  .close {
    position: absolute;
    right: 1%;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
  }

  .img {
    position: relative;
    background-color: #ffffffa9;
    margin: 5% auto 0 auto;
    height: 75%;
    width: auto;
  }

  .previous {
    position: absolute;
    left: 5%;
    color: rgb(114, 114, 114);
    font-size: 60px;
    top: 40%;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .next {
    position: absolute;
    right: 5%;
    color: rgb(114, 114, 114);
    font-size: 60px;
    top: 40%;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .presentation {
    width: 100%;
    position: absolute;
    top: 85%;

    .linkName {
      display: block;
      color: grey;
      font-weight: bold;
      text-align: center;
      width: 63%;
      padding: 10px 20px;
      margin-left: auto;
      margin-right: auto;
      font-size: larger;

      &:hover {

        color: white !important;
      }
    }
  }
}
