<div class="container">
  <div class="topPage">
    <h1 class="titre">Galerie photo</h1>
    <h4>
      Ici vous trouverez toutes mes photos, soit en vrac, soit classées par
      genre, pays, styles, ...
    </h4>
  </div>
</div>

<div class="filtres">
  <div class="categ">
    <p>Catégories : </p>
    <section class="categCheckBox">
      <mat-checkbox class="choices" [(ngModel)]="amphiChecked">Amphibiens</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="floreChecked">Flore</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="inverteChecked">Invertébrés</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="mammiChecked">Mammifères</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="oiseauChecked">Oiseaux</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="paysaChecked">Paysages</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="reptiChecked">Reptiles</mat-checkbox>
    </section>
  </div>
  <div class="pays">
    <p>Pays : </p>
    <section class="paysCheckBox">
      <mat-checkbox class="choices" [(ngModel)]="franceChecked">France</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="marocChecked">Maroc</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="costaChecked">Costa-Rica</mat-checkbox>
      <mat-checkbox class="choices" [(ngModel)]="madaChecked">Madagascar</mat-checkbox>
    </section>
  </div>
  <div class="search">
    <input class="searchField" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search">
  </div>
</div>

<div class="gallery">
  <div class="square" *ngFor="let photo of photos; let i=index;">
    <img id="photo" alt="" (click)="openModal(i)" src="http://127.0.0.1:8000/uploads/images/galerie/{{
            photo.photo
          }}" />
  </div>
</div>

<div class="modalImage" *ngIf="isModalOpen">
  <div class="close">
    <button type="button" class="close" (click)="closeModal()">&times;</button>
  </div>
  <img class="img" alt="" src="http://127.0.0.1:8000/uploads/images/galerie/{{
      modal.photo
    }}" />
  <div class="previous" *ngIf="currentIndex > 0" (click)="precedent()"><i class="fas fa-chevron-left"></i></div>
  <div class="next" *ngIf="currentIndex <= photos.length-2" (click)="suivant()"><i class="fas fa-chevron-right"></i>
  </div>
  <div class="presentation">
    <p class="linkName"> {{ modal.nom }} - {{ modal.nomLatin}}</p>
  </div>
</div>
