$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

footer {
  .social {
    ul {
      margin-bottom: 0 !important;

      .icons {
        display: flex;
        font-size: 2rem;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 10px;
        @media only screen and (max-width: $tablet) {
          flex-direction: row;
          top: 15px;
          z-index: 9999;
        }

        a {
          transition: 0.2s all ease-in;
          color: rgb(211, 245, 116);
          margin-left: 20px;
          @media only screen and (max-width: $tablet) {
            color: black;
          }

          &:hover {
            color: rgb(252, 173, 56);
            transform: rotate(-40deg);
          }
        }
      }
    }
  }
}

