body {
  background-image:url("/assets/images/wood.jpg");


h1 {
  font-family: 'Rajdhani', serif;
  font-size: 250%;
  color: white;
}

h2 {
  font-family: 'Architects Daughter', cursive;
}

h6 {
  font-family: 'Josefin Sans', sans-serif;
}

p,
a {
  font-family: 'Rajdhani', sans-serif;
  color: black;
}

h4 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin-bottom: 20px;
}

button {
  font-family: 'Rajdhani', sans-serif;
}

h5 {
  font-family: 'Rajdhani', sans-serif;
  color: black;
  font-size: 140%;
}

}
