// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AngularView-primary: mat-palette($mat-indigo);
$AngularView-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AngularView-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AngularView-theme: mat-light-theme($AngularView-primary, $AngularView-accent, $AngularView-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AngularView-theme);

@media (max-width: 600px) {
  .backBtn {
    display: none;
  }
}

body {
  background-image: url("/assets/images/wood.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;

  h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 250%;
    letter-spacing: 4px;
    color: white;
  }

  h2,
  h3 {
    font-family: 'Architects Daughter', cursive;
  }

  h6 {
    font-family: 'Josefin Sans', sans-serif;
  }

  p,
  a {
    font-family: 'Rajdhani', sans-serif;
    color: black;
  }

  h4 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-bottom: 20px;
  }

  button {
    font-family: 'Rajdhani', sans-serif;
  }

  h5 {
    font-family: 'Rajdhani', sans-serif;
    color: black;
    font-size: 140%;
  }

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  display: flex !important;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}


.mat-tab-body-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
}

.mat-tab-labels {
  background-color: white;
  color: black;
}

// bouton retour 

div.backBtn {
  width: 100px;
  left: 20px;
  top: 60px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: fixed;
  cursor: pointer;

  &:hover .label {
    color: rgb(252, 173, 56);
  }
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
  top: 12px;
}

span.mLine {
  top: 16px;
  opacity: 0;
}

span.bLine {
  top: 20px;
}

.label {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1.1em;
  color: white;
  font-family: "Architects Daughter", cursive;


}

div.backBtn:hover span.label {
  left: 25px
}

div.backBtn:hover span.line {
  left: 0px;
  height: 2px;
  background-color: rgb(241, 255, 176);
}

div.backBtn:hover span.tLine {
  width: 12px;
  transform: rotate(-45deg);
  left: -1px;
  top: 12px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 20px;
}

div.backBtn:hover span.bLine {
  width: 12px;
  transform: rotate(45deg);
  left: -1px;
  top: 20px;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: #92c51c !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #92c51c !important;
}


.form-control:focus {
  color: black;
  background-color: #fff;
  border-color: #92c51c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #92c51c;
}