<app-menu></app-menu>
<div class="backBtn">
  <span class="line tLine"></span>
  <span class="line mLine"></span>
  <span class="label" onclick="goBack()">Retour</span>
  <span class="line bLine"></span>
</div>
<div class="topPage">
  <h1 class="titre">Fiches Espèces</h1>
  <h4>
    Ici vous trouverez toutes les espèces que j'ai rencontrées et vous avez accès à leur fiche descriptive en cliquant
    sur l'espèce qui vous intéresse..
    <br>
    Je vous conseille d'utiliser les filtres pour trouver plus facilement ce que vous cherchez.
  </h4>
</div>

<div class="filtres">
  <div class="categ">
    <h6>Catégories : </h6>
    <section class="categCheckBox">
      <mat-checkbox class="choices" onclick="document.getElementById('searchbar').value =''"
        (change)="getCheckedValue(4)" [(ngModel)]="amphiChecked">Amphibiens</mat-checkbox>
      <mat-checkbox class="choices" onclick="document.getElementById('searchbar').value =''"
        (change)="getCheckedValue(5)" [(ngModel)]="floreChecked">Flore</mat-checkbox>
      <mat-checkbox class="choices" onclick="document.getElementById('searchbar').value =''"
        (change)="getCheckedValue(6)" [(ngModel)]="inverteChecked">Invertébrés
      </mat-checkbox>
      <mat-checkbox class="choices" onclick="document.getElementById('searchbar').value =''"
        (change)="getCheckedValue(1)" [(ngModel)]="mammiChecked">Mammifères</mat-checkbox>
    </section>
    <section class="categCheckBox">
      <mat-checkbox class="choices" onclick="document.getElementById('searchbar').value =''"
        (change)="getCheckedValue(3)" [(ngModel)]="oiseauChecked">Oiseaux</mat-checkbox>
      <mat-checkbox class="choices" onclick="document.getElementById('searchbar').value =''"
        (change)="getCheckedValue(2)" [(ngModel)]="reptiChecked">Reptiles</mat-checkbox>
    </section>
  </div>

  <div class="search">
    <label for="searchValue">
      <h6>Vous cherchez une espèce ou un genre en particulier ?</h6>
    </label>
    <input id="searchbar" class="form-control" type="text" (keyup)="onSearch($event)" name="searchValue"
      autocomplete="off" placeholder="Gypaète barbu, Cerastes, ...">
  </div>
</div>

<div class="gallery">
  <ng-container *ngIf="filteredSpecies.length > 0 && !erreurMessage">
    <ng-container *ngFor="let espece of filteredSpecies ; let i=index;">
      <a routerLink="/detailEspece/{{ espece.id }}" routerLinkActive="active">
        <div class="miniature">
          <div class="square">
            <img id="photo" alt="" src="http://127.0.0.1:8000/uploads/images/espece/{{
            espece.Image
            }}" />
          </div>
          <div class="noms">
            <p class="nomFr">{{espece.NomFrancais}}</p>
            <p class="nomLat">{{espece.NomLatin}}</p>
          </div>
        </div>
      </a>
    </ng-container>
  </ng-container>


  <ng-container *ngIf="filteredSpecies.length === 0 && !erreurMessage">
    <ng-container *ngFor="let espece of especes ; let i=index;">
      <a routerLink="/detailEspece/{{ espece.id }}" routerLinkActive="active">
        <div class="miniature">
          <div class="square">
            <img id="photo" alt="" src="http://127.0.0.1:8000/uploads/images/espece/{{
          espece.Image
          }}" />
          </div>
          <div class="noms">
            <p class="nomFr">{{espece.NomFrancais}}</p>
            <p class="nomLat">{{espece.NomLatin}}</p>
          </div>
        </div>
      </a>
    </ng-container>
  </ng-container>
  <div class="errorMessage" *ngIf="erreurMessage" [innerHTML]="erreurMessage"></div>
</div>




<!-- 







<mat-tab-group mat-align-tabs="center" class="choixTri">
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Par Classification :
    </ng-template>
    <div id="reptile-card" class="card">
      <div class="card-header">Reptiles</div>
      <div id="reptile-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/2" id="reptiles" class="btn btn-outline-black waves-effect filter"
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/reptiles.png" alt="" width="auto"
            height="180px" /></a>
      </div>
    </div>
    <div id="mammifere-card" class="card">
      <div class="card-header">Mammifères</div>
      <div id="mammifere-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/1" id="mammiferes" class="btn btn-outline-black waves-effect filter "
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/mammiferes.png" alt="" width="auto"
            height="160px" /></a>
      </div>
    </div>
    <div id="oiseau-card" class="card">
      <div class="card-header">Oiseaux</div>
      <div id="oiseau-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/3" id="oiseaux" class="btn btn-outline-black waves-effect filter"
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/aigle.png" alt="" width="150px"
            height="auto" /></a>
      </div>
    </div>
    <div id="amphibien-card" class="card">
      <div class="card-header">Amphibiens</div>
      <div id="amphibien-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/4" id="amphibiens" class="btn btn-outline-black waves-effect filter"
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/amphibiens.png" alt="" width="140px"
            height="auto" /></a>
      </div>
    </div>
    <div id="invertebres-card" class="card">
      <div class="card-header">invertébrés</div>
      <div id="invertebres-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/6" id="invertebres" class="btn btn-outline-black waves-effect filter" data-rel="all"><img class="hvr-pulse-grow"
            src="./assets/images/invertebres.png" alt="" width="130px" height="auto" /></a>
      </div>
    </div>
    <div id="flore-card" class="card">
      <div class="card-header">Flore</div>
      <div id="flore-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/5" id="flore" class="btn btn-outline-black waves-effect filter" data-rel="all"><img class="hvr-pulse-grow"
            src="./assets/images/flore.png" alt="" width="auto" height="140px" /></a>
      </div>
    </div>

  </mat-tab>
  <mat-tab class="contenant">
    <ng-template mat-tab-label id="vernacName">
      Par Nom Vernaculaire :
    </ng-template>
    <div>
      <h4>
        Liste des espèces classées par Familles et ordre alphabétique.
      </h4>
    </div>
    <div class="liste">
      <div class="especesliste">
        <h6>Reptiles</h6>
        <p class="listeEspeces" *ngFor="let reptile of reptiles">
          <a routerLink="/detailEspece/{{ reptile.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ reptile.NomFrancais }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Oiseaux</h6>
        <p class="listeEspeces" *ngFor="let oiseau of oiseaux">
          <a routerLink="/detailEspece/{{ oiseau.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ oiseau.NomFrancais }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Mammifères</h6>
        <p class="listeEspeces" *ngFor="let mammifere of mammiferes">
          <a routerLink="/detailEspece/{{ mammifere.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ mammifere.NomFrancais }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Invertebrés</h6>
        <p class="listeEspeces" *ngFor="let invertebre of invertebres">
          <a routerLink="/detailEspece/{{ invertebre.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ invertebre.NomFrancais }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Flore</h6>
        <p class="listeEspeces" *ngFor="let flore of flores">
          <a routerLink="/detailEspece/{{ flore.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ flore.NomFrancais }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Amphibiens</h6>
        <p class="listeEspeces" *ngFor="let amphibien of amphibiens">
          <a routerLink="/detailEspece/{{ amphibien.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ amphibien.NomFrancais }}</span>
          </a>
        </p>
      </div>
    </div>
  </mat-tab>

  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Par Nom Latin :
    </ng-template>
    <div>
      <h4>
        Liste des espèces classées par Familles et ordre alphabétique.
      </h4>
    </div>
    <div class="liste">
      <div class="especesliste">
        <h6>Reptilia</h6>
        <p class="listeEspeces" *ngFor="let reptileLatin of reptilesLatin">
          <a routerLink="/detailEspece/{{ reptileLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ reptileLatin.NomLatin }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Aves</h6>
        <p class="listeEspeces" *ngFor="let oiseauLatin of oiseauxLatin">
          <a routerLink="/detailEspece/{{ oiseauLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ oiseauLatin.NomLatin }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Mammalia</h6>
        <p class="listeEspeces" *ngFor="let mammifereLatin of mammiferesLatin">
          <a routerLink="/detailEspece/{{ mammifereLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ mammifereLatin.NomLatin }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Invertebrata</h6>
        <p class="listeEspeces" *ngFor="let invertebreLatin of invertebresLatin">
          <a routerLink="/detailEspece/{{ invertebreLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ invertebreLatin.NomLatin }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Plantae</h6>
        <p class="listeEspeces" *ngFor="let floreLatin of floresLatin">
          <a routerLink="/detailEspece/{{ floreLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ floreLatin.NomLatin }}</span>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Amphibia</h6>
        <p class="listeEspeces" *ngFor="let amphibienLatin of amphibiensLatin">
          <a routerLink="/detailEspece/{{ amphibienLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><span>{{ amphibienLatin.NomLatin }}</span>
          </a>
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group> -->
