//Media queries
@media (max-width:550px) {
  .choixTri {
    width: 90% !important;
  }

  .liste .especesliste {
    width: 90% !important;
  }
}

@media (max-width:700px) {
  .liste .especesliste {
    width: 45% !important;
  }
}

//CSS contenu global
p {
  margin-bottom: 0em !important;
}

h4 {
  color: black;
  margin-top: 20px;
  padding: 5px 20px;
  font-family: 'Rajdhani', serif;
}

.btn {
  padding: 0 !important;
}

#reptiles,
#mammiferes,
#oiseaux,
#amphibiens,
#invertebres,
#flore {
  cursor: pointer;
}

.underline {
  font-size: larger;
}

//Container du titre de la page
.topContent {
  margin-top: 180px;
  margin-bottom: 80px;

  .titre {
    margin: 10% 10% 5% 10%;
    text-align: center;
    color: white;

    h1 {
      font-family: 'Rajdhani', serif;
    }
  }
}

//Container tabs avec les choix de "comment découvrir la faune et la flore"

.choixTri {
  background-color: rgba(255, 255, 255, 0.76);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;

  .contenant {
    height: 100%;
    overflow: auto;
    display: flex !important;
    justify-content: space-around !important;


  }
}

//CSS des cards
.card {
  border: 1px solid rgb(167, 167, 167);
  background-color: rgba(255, 255, 255, 0.267);
  width: 25%;
  min-width: min-content;
  text-align: center;
  margin: 25px 10px !important;

  .card-header {
    font-family: 'Rajdhani', serif;
    padding: 5px !important;
    background-color: rgba(255, 235, 205, 0);
    text-align: center;
    height: 35px;
  }


  .card-body {
    display: flex;

    a {
      margin-top: auto;
      margin-bottom: auto;
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//Affichage liste

.liste {
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.582);
  display: flex;
  flex-flow: wrap;
  justify-content: center !important;

  .especesliste {
    width: 30%;
    margin: 15px 10px;

    h6 {
      margin-top: 10px;
      font-weight: bolder;
      text-transform: uppercase;
      font-size: large;
      color: black;
      text-align: center;
      border: 1px solid rgb(167, 167, 167);
      padding-top: 3px;
      padding-bottom: 3px;
      background-color: rgb(241, 255, 176);
      font-family: 'Rajdhani', serif;
    }

    .listeEspeces {
      text-align: center;


      .btn-link {
        font-weight: 900;
        color: black;
        text-decoration: none;
      }

      .btn-link:hover {
        font-weight: bold;
        text-decoration: underline;
        color: black;
      }
    }
  }
}


// Style hover et exceptions visuelles
.nav-item .underline:hover,
.nav-item .underline:focus,
.nav-item .underline:active {
  color: rgb(223, 255, 106);
}


@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}



.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Hover sur chaque card */

#sudamerique-card {
  font-size: medium;
}

#reptile-card:hover,
#mammifere-card:hover,
#oiseau-card:hover,
#amphibien-card:hover,
#invertebres-card:hover,
#flore-card:hover,
#europe-card:hover,
#afrique-card:hover,
#sudamerique-card:hover {
  font-weight: bolder;
  font-size: large;
  color: black;
  text-decoration: underline;
}

#reptile-card-bg,
#mammifere-card-bg,
#oiseau-card-bg,
#amphibien-card-bg,
#invertebres-card-bg,
#flore-card-bg,
#europe-card-bg,
#afrique-card-bg,
#sudamerique-card-bg {
  background-color: rgba(223, 255, 106, 0.384);
  display: flex;
  justify-content: center;
}

#reptile-card-bg:hover,
#mammifere-card-bg:hover,
#oiseau-card-bg:hover,
#amphibien-card-bg:hover,
#invertebres-card-bg:hover,
#flore-card-bg:hover,
#europe-card-bg:hover,
#afrique-card-bg:hover,
#sudamerique-card-bg:hover {
  background-color: rgba(252, 239, 162, 0.678);
}
