<div class="topContent">
  <div class="titre">
    <h1>Choisissez votre façon de découvrir la faune et la flore.</h1>
  </div>
</div>

<mat-tab-group mat-align-tabs="center" class="choixTri">
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Par Classification :
    </ng-template>
    <div id="reptile-card" class="card">
      <div class="card-header">Reptiles</div>
      <div id="reptile-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/2" id="reptiles" class="btn btn-outline-black waves-effect filter"
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/reptiles.png" alt="" width="auto"
            height="180px" /></a>
      </div>
    </div>
    <div id="mammifere-card" class="card">
      <div class="card-header">Mammifères</div>
      <div id="mammifere-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/1" id="mammiferes" class="btn btn-outline-black waves-effect filter "
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/mammiferes.png" alt="" width="auto"
            height="160px" /></a>
      </div>
    </div>
    <div id="oiseau-card" class="card">
      <div class="card-header">Oiseaux</div>
      <div id="oiseau-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/3" id="oiseaux" class="btn btn-outline-black waves-effect filter"
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/aigle.png" alt="" width="150px"
            height="auto" /></a>
      </div>
    </div>
    <div id="amphibien-card" class="card">
      <div class="card-header">Amphibiens</div>
      <div id="amphibien-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/4" id="amphibiens" class="btn btn-outline-black waves-effect filter"
          data-rel="all"><img class="hvr-pulse-grow" src="./assets/images/amphibiens.png" alt="" width="140px"
            height="auto" /></a>
      </div>
    </div>
    <div id="invertebres-card" class="card">
      <div class="card-header">invertébrés</div>
      <div id="invertebres-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/6" id="invertebres" class="btn btn-outline-black waves-effect filter" data-rel="all"><img class="hvr-pulse-grow"
            src="./assets/images/invertebres.png" alt="" width="130px" height="auto" /></a>
      </div>
    </div>
    <div id="flore-card" class="card">
      <div class="card-header">Flore</div>
      <div id="flore-card-bg" class="card-body">
        <a routerLink="/discover/EspecesByCat/5" id="flore" class="btn btn-outline-black waves-effect filter" data-rel="all"><img class="hvr-pulse-grow"
            src="./assets/images/flore.png" alt="" width="auto" height="140px" /></a>
      </div>
    </div>

  </mat-tab>
  <mat-tab class="contenant">
    <ng-template mat-tab-label id="vernacName">
      Par Nom Vernaculaire :
    </ng-template>
    <div>
      <h4>
        Liste des espèces classées par Familles et ordre alphabétique.
      </h4>
    </div>
    <div class="liste">
      <div class="especesliste">
        <h6>Reptiles</h6>
        <p class="listeEspeces" *ngFor="let reptile of reptiles">
          <a routerLink="/detailEspece/{{ reptile.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><strong id="nameChoice">{{ reptile.NomFrancais }}</strong>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Oiseaux</h6>
        <p class="listeEspeces" *ngFor="let oiseau of oiseaux">
          <a routerLink="/detailEspece/{{ oiseau.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><strong id="nameChoice">{{ oiseau.NomFrancais }}</strong>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Mammifères</h6>
        <p class="listeEspeces" *ngFor="let mammifere of mammiferes">
          <a routerLink="/detailEspece/{{ mammifere.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><strong id="nameChoice">{{ mammifere.NomFrancais }}</strong>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Invertebrés</h6>
        <p class="listeEspeces" *ngFor="let invertebre of invertebres">
          <a routerLink="/detailEspece/{{ invertebre.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><strong id="nameChoice">{{ invertebre.NomFrancais }}</strong>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Flore</h6>
        <p class="listeEspeces" *ngFor="let flore of flores">
          <a routerLink="/detailEspece/{{ flore.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><strong id="nameChoice">{{ flore.NomFrancais }}</strong>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Amphibiens</h6>
        <p class="listeEspeces" *ngFor="let amphibien of amphibiens">
          <a routerLink="/detailEspece/{{ amphibien.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><strong id="nameChoice">{{ amphibien.NomFrancais }}</strong>
          </a>
        </p>
      </div>
    </div>
  </mat-tab>

  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Par Nom Latin :
    </ng-template>
    <div>
      <h4>
        Liste des espèces classées par Familles et ordre alphabétique.
      </h4>
    </div>
    <div class="liste">
      <div class="especesliste">
        <h6>Reptilia</h6>
        <p class="listeEspeces" *ngFor="let reptileLatin of reptilesLatin">
          <a routerLink="/detailEspece/{{ reptileLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><i id="nameChoice">{{ reptileLatin.NomLatin }}</i>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Aves</h6>
        <p class="listeEspeces" *ngFor="let oiseauLatin of oiseauxLatin">
          <a routerLink="/detailEspece/{{ oiseauLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><i id="nameChoice">{{ oiseauLatin.NomLatin }}</i>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Mammalia</h6>
        <p class="listeEspeces" *ngFor="let mammifereLatin of mammiferesLatin">
          <a routerLink="/detailEspece/{{ mammifereLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><i id="nameChoice">{{ mammifereLatin.NomLatin }}</i>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Invertebrata</h6>
        <p class="listeEspeces" *ngFor="let invertebreLatin of invertebresLatin">
          <a routerLink="/detailEspece/{{ invertebreLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><i id="nameChoice">{{ invertebreLatin.NomLatin }}</i>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Plantae</h6>
        <p class="listeEspeces" *ngFor="let floreLatin of floresLatin">
          <a routerLink="/detailEspece/{{ floreLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><i id="nameChoice">{{ floreLatin.NomLatin }}</i>
          </a>
        </p>
      </div>
      <div class="especesliste">
        <h6>Amphibia</h6>
        <p class="listeEspeces" *ngFor="let amphibienLatin of amphibiensLatin">
          <a routerLink="/detailEspece/{{ amphibienLatin.id }}" routerLinkActive="active" class="btn btn-link"><i
              class="fas fa-angle-right pr-2"></i><i id="nameChoice">{{ amphibienLatin.NomLatin }}</i>
          </a>
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
