<div class="main">
  <div class="top half">
    <img src="../../../assets/images/Taxodium distichum-2.jpg" />
  </div>
  <div class="bottom half">
    <img src="../../../assets/images/Taxodium distichum-2.jpg" />
  </div>
  <button class="super-button">Enter</button>
  <div class="overlay"></div>
  <div class="button-line left">
    <div class="inner"></div>
  </div>
  <div class="button-line right">
    <div class="inner"></div>
  </div>
</div>

<div class="loading">
    <div class="loading-text">
      <span class="loading-text-words">B</span>
      <span class="loading-text-words">I</span>
      <span class="loading-text-words">E</span>
      <span class="loading-text-words">N</span>
      <span class="loading-text-words">V</span>
      <span class="loading-text-words">E</span>
      <span class="loading-text-words">N</span>
      <span class="loading-text-words">U</span>
    </div>
  </div>
