<app-menu></app-menu>
<div class="backBtn">
  <span class="line tLine"></span>
  <span class="line mLine"></span>
  <span class="label" onclick="goBack()">Retour</span>
  <span class="line bLine"></span>
</div>
<div class="titre">
    <h1>Liste des Amphibiens</h1>
  </div>
  
  <div class="liste">
    <div class="anoures">
      <h5>Anoures</h5>
      <p class="listeAmphibiens" *ngFor="let anoure of anoures">
        <a routerLink="/detailEspece/{{anoure.id}}" routerLinkActive="active" class="btn btn-link">-
          <strong>{{ anoure.nomFrancais }}</strong> -
          <i>{{ anoure.nomLatin }}</i>
        </a>
      </p>
    </div>
    <div class="urodeles">
      <h5>Urodèles</h5>
      <p class="listeAmphibiens" *ngFor="let urodele of urodeles">
        <a routerLink="/detailEspece/{{urodele.id}}" routerLinkActive="active" class="btn btn-link">-
          <strong>{{ urodele.nomFrancais }}</strong> -
          <i>{{ urodele.nomLatin }}</i>
        </a>
      </p>
    </div>
  </div>
  
  