<div class="titreBox ">
  <div class="noms" *ngIf="espece">
    <h2 class="animated slideInLeft">{{ espece.NomFrancais }}</h2>
    <h4><i>{{ espece.NomLatin }}</i></h4>
  </div>
  <div class="photo" *ngIf="espece">
    <img src="http://127.0.0.1:8000/uploads/images/espece/{{espece.Image}}" alt="{{espece.NomFrancais}}"
      title="{{espece.NomFrancais}}">
  </div>
</div>

<mat-tab-group mat-align-tabs="center" class="choixTri">
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Description
    </ng-template>
    <div class="containerTexte">
      <p class="contenu" *ngIf="espece">{{ espece.Description }}</p>
    </div>
  </mat-tab>
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Habitat / Répartition
    </ng-template>
    <div class="containerTexte">
      <div class="contenu">
        <p *ngIf="espece">{{espece.Habitat}}</p>
        <p *ngIf="espece">{{espece.Repartition}}</p>
      </div>
    </div>
  </mat-tab>
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Comportement
    </ng-template>
    <div class="containerTexte">
      <p class="contenu" *ngIf="espece">{{ espece.Moeurs }}</p>
    </div>
  </mat-tab>
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Alimentation
    </ng-template>
    <div class="containerTexte">
      <p class="contenu" *ngIf="espece">{{ espece.Alimentation }}</p>
    </div>
  </mat-tab>
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Reproduction
    </ng-template>
    <div class="containerTexte">
      <p class="contenu" *ngIf="espece">{{ espece.Reproduction }}</p>
    </div>
  </mat-tab>
  <mat-tab class="contenant">
    <ng-template mat-tab-label>
      Classification / Protection
    </ng-template>
    <div class="containerClassification">
      <div>
        <h6 class="rightContent pt-2" *ngIf="espece"><strong> Règne : </strong><i>{{espece.Regne}}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong>Embranchement : </strong><i>{{espece.Embranchement}}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong> Classe : </strong><i>{{espece.Classe}}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong> Ordre : </strong><i>{{ espece.Ordre }}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong> Famille : </strong><i>{{ espece.Famille }}</i></h6>
      </div>
      <br>
      <div>
        <h6><strong> Statut de Conservation : </strong></h6>
        <p *ngIf="espece">{{ espece.StatutConservation }}</p>
      </div>
    </div>
    </mat-tab>
  </mat-tab-group>
  
