<div class="titreBox ">
  <div class="noms" *ngIf="espece">
    <h2 class="animated slideInLeft">{{ espece.NomFrancais }}</h2>
    <h4><i>{{ espece.NomLatin }}</i></h4>
  </div>
  <div class="photo" *ngIf="espece">
    <img src="http://127.0.0.1:8000/uploads/images/espece/{{espece.Image}}" alt="{{espece.NomFrancais}}"
      title="{{espece.NomFrancais}}">
  </div>
</div>

<div class="content container">
  <div class="insert row p-3">
    <div class="colonneGauche">
      <div>
        <h6><i class="fas fa-tree pt-2"> </i><strong> Habitat : </strong></h6>
        <p *ngIf="espece">{{espece.Habitat}}</p>
      </div>
      <div>
        <h6><i class="fas fa-globe-africa"> </i><strong>Distribution : </strong></h6>
        <p *ngIf="espece">{{espece.Repartition}}</p>
      </div>
      <div>
        <h6><i class="fas fa-utensils"> </i><strong> Alimentation : </strong></h6>
        <p *ngIf="espece">{{espece.Alimentation}}</p>
      </div>
      <div>
        <h6><i class="fas fa-venus-mars"> </i><strong> Reproduction / floraison: </strong></h6>
        <p *ngIf="espece">{{ espece.Reproduction }}</p>
      </div>
    </div>

    <div class="colonneCentre">
      <div>
        <h6><i class="fas fa-paw pt-2"> </i><strong> Description : </strong></h6>
        <p *ngIf="espece">{{ espece.Description }}</p>
      </div>
      <div>
        <h6><i class="fas fa-feather-alt"> </i><strong> Moeurs / généralités : </strong></h6>
        <p *ngIf="espece">{{ espece.Moeurs }}</p>
      </div>
    </div>

    <div class="colonneDroite">
      <div>
        <h6 class="rightContent pt-2" *ngIf="espece"><strong> Règne : </strong><i>{{espece.Regne}}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong>Embranchement : </strong><i>{{espece.Embranchement}}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong> Classe : </strong><i>{{espece.Classe}}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong> Ordre : </strong><i>{{ espece.Ordre }}</i></h6>
      </div>
      <div>
        <h6 class="rightContent" *ngIf="espece"><strong> Famille : </strong><i>{{ espece.Famille }}</i></h6>
      </div>
      <br>
      <div>
        <h6><strong> Statut de Conservation : </strong></h6>
        <p *ngIf="espece">{{ espece.StatutConservation }}</p>
      </div>
      <br>
      <div class="wrapper">
        <nav class="rightContent">
          <a [routerLink]="['/discover']" class="btn btn--border btn--primary btn--animated mx-2"><i
              class="fas fa-angle-left pr-2"></i>Retour</a>
        </nav>
      </div>
    </div>
  </div>
</div>
