.topPage {
  margin-top: 10%;

  h1 {
    text-align: center;
    font-size: 50px;
  }

  .titre {
    margin-bottom: 50px;
  }
}


.home {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.63);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 20px;

  p {
    color: rgba(223, 255, 106, 0.603);
    font-size: large;
    font-weight: bold;
    margin-bottom: 0 !important;
    font-family: "Rajdhani", sans-serif;

    .route {
      color: white;
      font-weight: bolder;
    }
  }
}

.nouveautes {
  background-color: rgba(0, 0, 0, 0.63);
  width: 90%;
  margin-top: 60px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

  h3 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    color: black;
  }

  .previews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .espece,
    .photo,
    .article {
      width: 25%;
      background-color: rgba(255, 255, 255, 0.877);
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 10px;
      min-width: 250px;

      h4 {
        font-family: 'Architects Daughter', cursive;
        border-bottom: 1px dashed black;
        padding-bottom: 8px;
        color: black;
      }

      h6,
      p {
        color: black;
        text-align: center;
      }

      .hoverTitre {
        color: black;
        text-align: center;
        max-width: 300px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
      }

      .image:hover~.hoverTitre {
        font-style: italic;
        background-color: rgb(241, 255, 176);
      }


      h6 {
        font-style: italic;
      }

      .image {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 20px;
        box-shadow: 0px 0px 8px 2px black;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

        &:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
}
