<div class="main">
  <div class="top half">
    <img src="../../../assets/images/Taxodium distichum-2.jpg" />
  </div>
  <div class="bottom half">
    <img src="../../../assets/images/Taxodium distichum-2.jpg" />
  </div>
  <button class="super-button">Enter</button>
  <div class="overlay"></div>
  <div class="button-line left">
    <div class="inner"></div>
  </div>
  <div class="button-line right">
    <div class="inner"></div>
  </div>
</div>

<div class="container-fluid mt-5 content">
  <div class="container firstTitle">
    <h1 class="animated zoomIn">Bienvenue à vous !</h1>
  </div>
  <div class="container home">
    <p>
      Vous êtes ici sur un site de Photographe Naturaliste, <br />
      vous pourrez donc découvrir toutes mes photographies, <br />
      mais aussi apprendre à mieux connaître la faune, la flore ainsi que leur
      écologie.
    </p>
    <br />
    <h4 class="animated slideInLeft pb-3">Comment est organisé le site ?</h4>
    <p>
      - Si vous désirez uniquement voir mes photos de la faune et de la flore,
      classées selon les familles, les voyages, les milieux, ... je vous laisse
      cliquer sur
      <a [routerLink]="['/discover']"><span class="route">Galerie</span></a>
      dans le menu.
      <br />
      - Si vous voulez en apprendre plus sur certaines espèces, dirigez-vous
      vers
      <a [routerLink]="['/discover']"><span class="route">Découvrir</span></a>
      pour accéder à toutes les fiches descriptives.
      <br />
      - Si vous avez envie d'en savoir plus sur des sujets variés liés à la
      nature ou à la photographie, jetez un oeil aux
      <a [routerLink]="['/discover']"><span class="route">Articles</span></a
      >, vous trouverez certainement des choses intéressantes.
      <br />
      <br />
      Je vous souhaite une bonne visite !
    </p>
  </div>
</div>
