<app-menu></app-menu>
<div class="backBtn">
  <span class="line tLine"></span>
  <span class="line mLine"></span>
  <span class="label" onclick="goBack()">Retour</span>
  <span class="line bLine"></span>
</div>
<div class="topPage">
  <h1>Qui suis-je ?</h1>
</div>


<div class="presentation">
  <p class="texte">Photographe amateur, je suis né en 1990 en Isère (38) , aux abords du parc naturel régional de la
    Chartreuse. 
    <br>
    Depuis mes premiers pas, la nature a toujours été pour moi une vraie source d’inspiration. 
    <br>
    Je me contentais dans un premier temps de regarder, d’observer mon environnement et de découvrir à travers mon
    regard d’enfant toute sa
    diversité. 
    <br>
    Puis, petit à petit, j’ai commencé à chercher des indices de présence de la faune et ai tenté de les
    immortaliser avec des techniques parfois assez rudimentaires telles que le moulage d’empreintes.
    <br>
    Mon objectif ?
    <br>
    Tenter d’apprivoiser cette nature sauvage tout en restant respectueux de son indomptabilité.
    <br>
    Dans cette optique d’approfondir mes connaissances et d’améliorer mes méthodes d’observation, je me suis mis à la
    photographie.
    <br>
    J’ai enfin pu allier ma passion naturaliste avec l’amour de la technique.
    <br>
    Depuis peu, je m’essaye également de plus en plus à la photographie de paysage et réalise des reportages animaliers
    dès que je traîne mes guêtres sur des pistes plus exotiques que d’ordinaire.
    <br>
    Mon but, est de faire connaître la nature à ceux qui ne la connaissent pas ou pas assez, faire en sorte que certains
    “mal-aimés” soient au moins acceptés et je lutte constamment pour une plus
    grande éthique dans le milieu de la photographie animalière.
    <br>
    Entre déranger un animal pour une superbe photo ou voir un animal serein et paisible sans pouvoir faire de photo, je
    préfère de très loin ne pas faire la photo et profiter de l’instant présent ...  </p>
  <img src="../../assets/images/moi.jpg" alt="Dylan Bouchet">
</div>

<div class="expos">
  <h3>Expositions passées : </h3>
  <ul>
    <li>19 au 21 mai 2017 – ​<span class="boldTxt">Festiv’Art Photo​ à ​ Montbéliard (25).</span> ​Exposition «
      Vert-tige du Terroir ». <span class="littleTxt">Invité d’honneur Fabien Dal Vecchio.</span> </li>
    <li>15 au 23 septembre 2018 – ​<span class="boldTxt">Les Rencontres de la Photo de Chabeuil ​(26).</span>
      ​Exposition « Vert-tige du Terroir ».
      <span class="littleTxt">Invité d’honneur William Ropp. </span></li>
    <li> 29 au 31 mars 2019 – ​​<span class="boldTxt">Lorraine Photo Nature ​à ​Saint-Avold​ (57).</span> ​Exposition «
      Sur les Terres de Déesse
      Cerastes » accompagnée d’une conférence sur le même sujet. <span class="littleTxt">Invitée d’honneur Florence
        Dabenoc.</span></li>
    <li> 10 au 12 mai 2019 – ​​<span class="boldTxt">​Festival Nature Ain ​à ​Hauteville-Lompnes (01).</span>
      ​Exposition « Sur les Terres de Déesse
      Cerastes » accompagnée d’une conférence sur le même sujet.<span class="littleTxt">Invités d’honneur Sandra Guilbot
        et Allain Bougrain-Dubourg.</span></li>
    <li>26 au 29 septembre 2019 – ​​​<span class="boldTxt">Festival Phot’Aubrac ​à​ Nasbinals (48).</span> ​Exposition «
      Sur les Terres de Déesse
      Cerastes ». <span class="littleTxt">Invité d’honneur Arnaud Guerin, autres invités : ​Hans Silvester​,​ Pierre
        Gleizes​,​ Laurent
        Ballesta​,​ Stéphane Granzotto​,​ Jean François Lagrot​,​ Thierry Vezon​.</span></li>
    <li>de 2016 à 2019 – ​​​<span class="boldTxt">​Exposition annuelle du collectif Passion-Photo-38 ​à ​Renage
        et Rives (38).</span> ​Différentes
      expositions selon les images faites dans l’année. <span class="littleTxt">Invités d’honneurs Ambre de l’Alpe,
        Julie de Waroquier, Patrick
        Jacquet, Eric Houdard.</span></li>
    <li>
      <span class="cancel">25 au 26 avril 2020​</span><span class="redTxt"> Repoussé à 2021 cause COVID-19 -​</span><span
        class="boldTxt"> Festival Photo de Bouvancourt (51).</span> Exposition « Sur les Terres de Déesse  Cerastes ».
      <span class="littleTxt"> Invités d’honneur Bruno et Dorota Sénéchal. </span>
    </li>
    <li>
      <span class="cancel"> ​15 au 17 mai 2020​</span><span class="redTxt"> Repoussé à 2021 cause COVID-19 -</span><span
        class="boldTxt"> Salon Photo d’Art Nature ​à ​Salon de Provence​ (13).</span> Exposition « Sur les Terres de Déesse  Cerastes ».
      <span class="littleTxt"> 1ère édition aux côtés de Thierry Vezon, Michel Lecocq, Eric Egea, Patrice Aguilar, Tanguy Stoecklé, Jonathan Lhoir, Sophie Luciani, Stéphanie et David Allemand.  </span>
    </li>
  </ul>
</div>